.navbar {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-item {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navbar-item:hover {
  color: #00b7ff;
}

.active-link {
  color: #00b7ff;
  border-bottom: 2px solid #00b7ff;
}

.navbar-item:active {
  color: #00b7ff;
}
